<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded box-shadow ">
    <form (ngSubmit)="addTalk()" [formGroup]="form" class="space-bottom">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">Name</label>
          <input type="text" formControlName="talkName" class="form-control mb-2" id="inlineFormInput" placeholder="Talkname">
        </div>

        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2" [disabled]="!form.valid">Add</button>
        </div>
      </div>
    </form>



    <ng-template #loading class="centered">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </ng-template>

    <div *ngIf="(talks$ | async) as talks; else loading">
      <h2 class="border-bottom border-gray pb-2 mb-0">Talks</h2>
      <div class="media text-muted pt-3" *ngFor="let talk of talks">
        <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <h3 class="text-gray-dark">{{talk.name}}</h3>
            <a class="btn btn-primary" [routerLink]="['/details/', talk.id]">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> View</a>
          </div>
          <span class="d-block">{{talk.added | date :'medium'}}</span>
          <span class="d-block">
            <a href="#" (click)="deleteTalk(talk, $event)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

</main>