<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <h3 class=" space-bottom">{{selectedTalk.name}}
        <small class="text-muted">
          <a [routerLink]="['/overview/']">go back</a>
        </small>
      </h3>
      <app-talk-form [timerStarted]="talkIsRunning" (intervalAdded)="intervalAdded($event)" (start)="start()" (reset)="resetTimers()"></app-talk-form>

      <app-total-time [totalTime]="totalTime" [totalPercentage]="totalPercentage"></app-total-time>

      <app-talk-part-list [listOfIntervals]="timerTickService?.listOfIntervals" [talkIsRunning]="talkIsRunning" (deleteTimer)="deleteTimer($event)"></app-talk-part-list>

    </div>
  </div>

</main>