.progress {
  height: 40px;
}

.background {
  background-color: #f8f9fa;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  padding-bottom: 20px;
}
