<div class="space-bottom">
  <h5>{{(totalTime / 60) || 0}} total minutes</h5>

  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" [ngClass]="{
       'progress-bar': true, 
       'bg-success': totalPercentage >= 50, 
       'bg-warning': totalPercentage > 15 && totalPercentage < 50,
       'bg-danger': totalPercentage < 15
      }" [ngStyle]="{'width': totalPercentage + '%', 'font-weight': 'bold'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      {{totalPercentage}}
    </div>
  </div>
</div>