<app-header></app-header>


<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="container">
        <app-talk-form (intervalAdded)="intervalAdded($event)" (start)="start()" (reset)="resetTimers()"></app-talk-form>

        <div>
          <h5>{{(totalTime / 60) || 0}} total minutes</h5>
        </div>

        <h1 class="display-4">Parts of your talk:</h1>

        <ul style="list-style-type: none;">
          <li *ngFor="let item of timerTickService.listOfIntervals; let i = index">
            <h3 *ngIf="!item.currentActive" style="color: grey; ">{{item.topic}}</h3>
            <h1 class="display-2" *ngIf="item.currentActive">{{item.topic}}
              <small class="text-muted">{{item.secondsRan}} s</small>
            </h1>
            <div class="progress" *ngIf="item.currentActive">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': item.percentage + '%'}">
                {{item.percentage}}%
              </div>
            </div>
            <span *ngIf="!item.currentActive" style="color: grey; ">Minutes: {{item.intervalMinutes}}
            </span>
            <h2 *ngIf="item.currentActive" style="font-weight: bold; ">Minutes left: {{item.minutesLeft}}
            </h2>
            <button (click)="deleteTimer(item)" class="btn btn-danger btn-sm" *ngIf="!timerStarted">Delete Timer</button>
          </li>
        </ul>

      </div>
    </div>
  </div>

</main>

<footer class="text-muted ">
  <div class="container ">

  </div>
</footer>