<app-header></app-header>


<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="container">
        <div>
          <form (ngSubmit)="addTimer()" [formGroup]="form">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Topic</label>
                <input type="text" formControlName="topic" class="form-control mb-2" id="inlineFormInput" placeholder="Topic">
              </div>
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Minutes</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">m</div>
                  </div>
                  <input type="text" formControlName="timeInMinutes" class="form-control" id="inlineFormInputGroup" placeholder="Time in minutes">
                </div>
              </div>

              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Add</button>
              </div>
            </div>
          </form>
        </div>


        <p>
          <button class="btn btn-success" (click)="start()">Start Timers</button>
          <button class="btn btn-secondary" (click)="resetTimers()">Reset Timers</button>

        </p>
        <div>
          <h5>{{(totalTime / 60) || 0}} total minutes</h5>
        </div>

        <h1 class="display-4">Parts of your talk:</h1>

        <ul style="list-style-type: none;">
          <li *ngFor="let item of listOfIntervals; let i = index">
            <h3 *ngIf="!item.currentActive" style="color: grey; ">{{item.topic}}</h3>
            <h1 class="display-2" *ngIf="item.currentActive">{{item.topic}}
              <small class="text-muted">{{item.secondsRan}} s</small>
            </h1>
            <div class="progress" *ngIf="item.currentActive">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': item.percentage + '%'}">
                {{item.percentage}}%
              </div>
            </div>
            <span *ngIf="!item.currentActive" style="color: grey; ">Minutes: {{item.intervalMinutes}}
            </span>
            <h2 *ngIf="item.currentActive" style="font-weight: bold; ">Minutes left: {{item.minutesLeft}}
            </h2>
            <button (click)="deleteTimer(item)" class="btn btn-danger btn-sm" *ngIf="!timerStarted">Delete Timer</button>
          </li>
        </ul>

      </div>
    </div>
  </div>

</main>

<footer class="text-muted ">
  <div class="container ">

  </div>
</footer>