<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">TalkTimer</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="isAuthorized">
          <a class="text-white space-left" [routerLink]="['/overview']">Overview</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="!isAuthorized">
          <a class="text-white pointer" (click)="login()">Login</a>
        </li>
        <li *ngIf="isAuthorized">
          <a class="text-white pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>