<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">TalkTimer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="isAuthorized">
          <a class="text-white space-left" [routerLink]="['/overview']">Overview</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li *ngIf="!isAuthorized">
          <a class="text-white pointer" (click)="login()">Login</a>
        </li>
        <li *ngIf="isAuthorized">
          <a class="text-white pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>